 <!DOCTYPE html>
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>ChanCRUD</title>
 </head>
 <body>
    <center>
        <h1>Chand Pvt LTD</h1>
        <h3>Django CRUD</h3>
        <hr/>
        <a href="{% url 'InsertEmp' %}">Create New Employee</a>
        <table border="1">
            <tr>
                <th>Employee ID</th>
                <th>Employee</th>
                <th>Email</th>
                <th>Occupation</th>
                <th>Salary</th>
            </tr>
            {% for res in data %}
            <tr>
                <td>{{res.id}}</td>
                <td>{{res.empname}}</td>
                <td>{{res.email}}</td>
                <td>{{res.occupation}}</td>
                <td>{{res.salary}}</td>
                <td><a href="Edit/{{res.id}}">Edit</a></td>
                <td><a href="Delete/{{res.id}}" onclick="return confirmation('Are You Sure')">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </center>
 </body>
 </html>
